<%- include('partials/header') -%>

<main class="container ">
    
    <div class="row justify-content-around mt-5">
        <h2 class="text-center mt-5">
            <span>There</span>
            <span>are</span>
            <span>no</span>
            <span>limits</span>
            <span>to</span>
            <span>what</span>
            <span>you</span>
            <span>can</span>
            <span>accomplish,</span>
            <span>except</span>
            <span>the</span>
            <span>limits</span>
            <span>you</span>
            <span>place</span>
            <span>on</span>
            <span>your</span>
            <span>own</span>
            <span>thinking.</span><br>
            <span>BELIEVE!</span>
            <span>That's</span>
            <span>what</span>
            <span>you</span>
            <span>need.</span>
            <span>No one</span>
            <span>can</span>
            <span>stop</span>
            <span>you!</span>
          </h2>
          
          <a href="/login" class="mt-5 rainbow-button" alt="Login"></a>
          <a href="/signup" class="mt-5 rainbow-button" alt="Signup"></a>
         
    
        
    </div>
   
   
  

  
    <section>
        <div class='girl-wrapper'>
        <div class='girl'></div>
      </div>
    </section>
    
</main>

<%- include('partials/footer') -%>